<div class="container">
  <h3>設定</h3>
  <div class="user-infomation row">
    <%= render "shared/user_menu" %>
    <div class="col-10">
      <div class="d-flex justify-content-between">
        <h3>プロフィール</h3>
        <p>編集</p>
      </div>
      <table class="table table-borderless">
        <tr>
          <th>アイコン画像</th>
          <td>
            <% if current_user.avatar.attached? %>
              <%= image_tag user.avatar%>
            <% else %>
              <%= image_tag 'default-avatar.png' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th>プロフィール</th>
          <td>プロフィールを入れる</td>
        </tr>
      </table>
    </div>
  </div>
</div>
