<div class="user-side-menu col-2">
  <table class="table table-bordered">
    <tr>
      <td><%= link_to "アカウント", users_show_account_path %></td>
    </tr>
    <tr>
      <td><%= link_to "プロフィール", users_show_profile_path %></td>
    </tr>
  </table>
</div>
